@use './variables' as *;

a:not([class]),
a:link:not([class]) {
  font-weight: 400;
  text-decoration: underline;
  text-decoration-color: transparent;
  color: $color-blue;
  transition: 0.15s;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
    text-decoration-color: initial;
    color: $color-blue-md;
  }
}

a:is([href$='.pdf' i], [href$='.doc' i], [href$='.docx' i], [href$='.zip' i])::before {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  padding: 11px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 3px;
  content: '';
  vertical-align: middle;
}

a[href$='.pdf' i]::before {
  background-image: url('/images/icons/file-pdf.svg');
}

a[href$='.doc' i]::before,
a[href$='.docx' i]::before {
  background-image: url('/images/icons/file-word.svg');
}

a[href$='.zip' i]::before {
  background-image: url('/images/icons/file-zip.svg');
}

.visually-hidden:not(:focus, :active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
}

.icon {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  fill: currentcolor;
  stroke: currentcolor;
  stroke-width: 0;
  vertical-align: middle;

  &_no-margin {
    margin-right: 0;
  }
}

.icon24 {
  fill: currentcolor;
  margin-right: 8px;

  &_margin_none {
    margin: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

.title {
  margin-bottom: 1rem;
  font-size: 18px;
  text-transform: uppercase;
  color: $color-blue;

  @media (min-width: $mobile-size-land) {
    margin-bottom: 40px;
    font-size: 24px;
  }

  @media (min-width: $tablet-size-land) {
    font-size: 2.5rem;
    line-height: 1.2;
    letter-spacing: 2px;
  }

  &--white {
    color: $color-white;
  }
}
