@font-face {
  font-family: Montserrat; /* Название шрифта */
  font-weight: 100 900; /* Диапазон доступных весов */
  font-style: normal; /* Стиль шрифта */
  src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype-variations'); /* Путь к файлу */
}
