// Sizes

$mobile-size-land: 576px;
$tablet-size-port: 768px;
$tablet-size-land: 1024px;
$desktop-size-small: 1200px;
$desktop-size-average: 1400px;
$desktop-size-large: 1920px;
$max-page-width: 2100px;

// Colors

$color-black: rgb(39 42 51);
$color-blue: rgb(1 40 210);
$color-blue-md: rgb(0 76 255);
$color-blue-light: rgb(235 238 251);
$color-grey: rgb(75 80 94);
$color-white: rgb(255 255 255);
$color-footer: rgb(23 28 45);
$color-border: rgb(0 40 210 / 10%);
$color-tel-main: #7efff9;
$color-tel: #5d9390;

// Shadows

$shadow-sm: 0 2px 8px rgb(0 0 0 / 6%);
$shadow-md: 0 2px 10px rgb(0 0 0 / 6%);
$shadow-lg: 0 10px 30px rgb(0 0 0 / 6%);
$shadow-sm-hover: 0 4px 12px rgb(0 0 0 / 15%);
$shadow-md-hover: 0 6px 16px rgb(0 0 0 / 15%);
$shadow-lg-hover: 0 15px 44px rgb(0 0 0 / 15%);
