<header>
  <div class='container'>
    <nav>
      <ul>
        <li><a href='/'>Главная</a></li>
        <li><a href='/_about'>О нас</a></li>
        <li><a href='/_contact'>Контакты</a></li>
      </ul>
    </nav>
  </div>
</header>