<main>
  <div class="container">
    <h1 class="title">{{title}}</h1>
    <p>Добро пожаловать на наш сайт</p>
    <img src="/images/123.jpg" width="100%" alt="" />
    <img src="/images/321.jpg" width="100%" alt="" />
    <img src="/images/404.jpg" width="100%" alt="" />
  </div>
</main>